<div class="jumbotron mt-4">
  <h1 class="display-4 ">MADEMAKER</h1>
  <img class=" img-fluid rounded-circle mx-auto d-block logo m-4" src="/img/Logos.png" alt="Logo">
</div>
<!-- Banner -->
<section>
  <div class="inner">
    <img src="images/logo.png" width="403" height="378" alt="" />
    <p>Hacemos realidad tus ideas</p>

  </div>
  <video autoplay loop muted playsinline src="images/banner.mp4"></video>

</section>

<!-- Highlights -->
<section>
  <div class="inner">
    <header class="special">
      <h2>¿Tienes una idea? Nosotros la hacemos realidad.</h2>
      <p>En <a href="index.html">MADEMAKER &reg;</a> contamos con profesionales del diseño y la ebanistería para que
        lleves a cabo todas tus ideas en cuanto a material mobiliario. Realizamos Cocinas integrales, mesas, sillas,
        sofás, gabinetes y closets con diseños innovadores y materiales de altísima calidad, para que tu única
        preocupación sea dónde ubicarlos en tu hogar. </p>
    </header>
</section>
<div class="highlights">
  <section>
    <div class=" container">
      <header>
        <img src="https://img.icons8.com/color/100/000000/buffet.png">
        <h3>Cocinas integrales</h3>
      </header>
      <p>En MADEMAKER&reg; puedes encontrar cocinas integrales para tu hogar. Estas se componen de diferentes muebles
        los cuales puedes modular segun tu espacio y diseño.</p>
    </div>
  </section>
  <section>
    <div class="content">
      <header>
        <img src="https://img.icons8.com/color/100/000000/closet.png">
        <h3>Closets</h3>
      </header>
      <p>En MADEMAKER&reg; puedes encontrar closets con diseños innovadores, adaptables a tus necesidades y a tus
        espacios, hechas a tu gusto y medida, completamente personalizables.</p>
    </div>
  </section>
  <section>
    <div class="content">
      <header>
        <img src="https://img.icons8.com/color/100/000000/table.png">
        <h3>Mesas</h3>
      </header>
      <p>En MADEMAKER&reg; puedes encontrar mesas para la cantidad de personas que quieras y con diseños que siempre
        estarán adaptados para tus espacios, dándole un toque único a tu hogar.</p>
    </div>
  </section>
  <section>
    <div class="content">
      <header>
        <img src="https://img.icons8.com/color/100/000000/bureau.png">
        <h3>gabinetes </h3>
      </header>
      <p>En MADEMAKER&reg; puedes encontrar gabinetes de todo tipo, para tus baños, cocinas y demás espacios en tu
        hogar, organizando los espacios y haciéndolos más agradables. <p>
    </div>
  </section>
  <section>
    <div class="content">
      <header>
        <img src="https://img.icons8.com/color/100/000000/chair.png">
        <h3>sillas</h3>
      </header>
      <p>En MADEMAKER&reg; puedes encontrar una gran variedad de sillas acordes a tu personalidad y al estilo de tu
        hogar, pensadas en los más chicos y los más grandes.</p>
    </div>
  </section>
  <section>
    <div class="content">
      <header>
        <img src="https://img.icons8.com/color/100/000000/sofa.png">
        <h3>sofás </h3>
      </header>
      <p>En MADEMAKER&reg; puedes encontrar sofás para todo tipo de hogares, haciendo que el espacio no sea un problema
        y pensados para grandes y pequeñas familias.</p>
    </div>
  </section>
</div>

<i></i>


<!-- Footer -->
<footer>
  <div class=" ">
    <div class="content">
      <section>

        <h3>MADEMAKER</h3>
        <p>Somos una empresa dedicada a la fabricación y ensamble de material mobiliario en diversos tipos de madera,
          nuestros servicios van desde el contacto con el cliente para la realización de sus ideas, hasta el diseño,
          ensamblaje y posterior instalación del mueble, siempre trabajando con calidad y profesionalismo, para llevar a
          nuestros clientes los mejores productos. </p>
      </section>
      <section>
        <h4>Enlaces de interés</h4>
        <ul class="alt">
          <li><a href="registro.html">Regístrate.</a></li>
          <li><a href="login.html">Inicia sesión.</a></li>
          <li>
            <script type="text/javascript" defer src="//www.123formbuilder.com/embed/4900708.js?type=lightbox"
              data-role="form" data-default-width="650px" data-embed-type="lightbox-text-link"
              data-embed-text-link="Contáctanos"></script>

        </ul>
      </section>
      <section>
        <h4>Redes sociales</h4>
        <ul class="plain">
          <li><a href="https://www.twitter.com"><em class="icon fa-twitter">&nbsp;</em>Mademaker</a></li>
          <li><a href="https://www.facebook.com"><em class="icon fa-facebook">&nbsp;</em>Mademaker</a>&nbsp;</li>
          <li><a href="https://www.instagram.com"><em class="icon fa-instagram">&nbsp;</em>Mademaker</a></li>
          <li></li>
        </ul>
      </section>
    </div>
    <div class="copyright">
      &copy; Todos los derechos<a href="https://github.com/ElLuchoMan"> reservados</a>. MADEMAKER &reg; 2019.


    </div>

  </div>
</footer>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>