<!-- Banner -->
<div class="jumbotron-fluid mt-4">
  <img class=" img-fluid rounded mx-auto d-block m-4" src="/img/Proceso.png" alt="Logo">
</div>



<!-- Highlights -->
<section>
  <div class=" container-fluid text-center p-5 ">
    <header>
      <h2>¿Tienes una idea? Nosotros la hacemos realidad.</h2>
      <p>En <a href="index.hbs">MADEMAKER &reg;</a> contamos con los mejores profesionales en todo el proceso para que
        lleves a cabo todas tus ideas en cuanto a material mobiliario. Realizamos Cocinas integrales, mesas, sillas,
        sofás, gabinetes, closets, etc. con diseños innovadores y materiales de altísima calidad, para que tu única
        preocupación sea dónde ubicarlos en tu hogar. </p>
    </header>
</section>
<div class=" row container">

  <div class=" col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/buffet.png">
      <h3>Cocinas integrales</h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar cocinas integrales para tu hogar. Estas se componen de diferentes muebles
      los cuales puedes modular segun tu espacio y diseño.</p>
  </div>


  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/closet.png">
      <h3>Closets</h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar closets con diseños innovadores, adaptables a tus necesidades y a tus
      espacios, hechas a tu gusto y medida, completamente personalizables.</p>
  </div>


  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/table.png">
      <h3>Mesas</h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar mesas para la cantidad de personas que quieras y con diseños que siempre
      estarán adaptados para tus espacios, dándole un toque único a tu hogar.</p>
  </div>
</div>
<div class="row container">

  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/bureau.png">
      <h3>Gabinetes </h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar gabinetes de todo tipo, para tus baños, cocinas y demás espacios en tu
      hogar, organizando los espacios y haciéndolos más agradables. <p>
  </div>


  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/chair.png">
      <h3>Sillas</h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar una gran variedad de sillas acordes a tu personalidad y al estilo de tu
      hogar, pensadas en los más chicos y los más grandes.</p>
  </div>


  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/sofa.png">
      <h3>Sofás </h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar sofás para todo tipo de hogares, haciendo que el espacio no sea un problema
      y pensados para grandes y pequeñas familias.</p>
  </div>

</div>


  <!-- Footer -->
  <footer class="page-footer font-small text-white bg-dark pt-4 container-fluid">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5>MADEMAKER</h5>
          <p>Somos una empresa dedicada a la fabricación y ensamble de material mobiliario en diversos tipos de madera,
            nuestros servicios van desde el contacto con el cliente para la realización de sus ideas, hasta el diseño,
            ensamblaje y posterior instalación del mueble, siempre trabajando con calidad y profesionalismo, para llevar
            a
            nuestros clientes los mejores productos. </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Enlaces de interes</h5>

          <ul class="list-unstyled">
            <li><a href="registro.html">Regístrate.</a></li>
            <li><a href="login.html">Inicia sesión.</a></li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Redes sociales</h5>

          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/MadeMakerMM/"><i class="fa fa-facebook"
                  aria-hidden="true"></i>&nbsp;</em>@MadeMakerMM</a>&nbsp;</li>
            <li><a href="https://www.instagram.com/mademakermm/"><em
                  class="icon fa-instagram">&nbsp;</em>mademakermm</a></li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mademaker.herokuapp.com/"> MadeMaker.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  