<!-- Banner -->
<div class="jumbotron-fluid mt-4">
  <img class=" img-fluid rounded mx-auto d-block m-4" src="/img/Proceso.png" alt="Logo">
</div>



<!-- Highlights -->
<section>
  <div class=" container-fluid text-center p-5 ">
    <header>
      <h2>¿Tienes una idea? Nosotros la hacemos realidad.</h2>
      <p>En <a href="/">MADEMAKER &reg;</a> contamos con los mejores profesionales en todo el proceso para que
        lleves a cabo todas tus ideas en cuanto a material mobiliario. Realizamos Cocinas integrales, mesas, sillas,
        sofás, gabinetes, closets, etc. con diseños innovadores y materiales de altísima calidad, para que tu única
        preocupación sea dónde ubicarlos en tu hogar. </p>
    </header>
</section>
<div class=" row container">

  <div class=" col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/buffet.png">
      <h3>Cocinas integrales</h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar cocinas integrales para tu hogar. Estas se componen de diferentes muebles
      los cuales puedes modular segun tu espacio y diseño.</p>
  </div>


  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/closet.png">
      <h3>Closets</h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar closets con diseños innovadores, adaptables a tus necesidades y a tus
      espacios, hechas a tu gusto y medida, completamente personalizables.</p>
  </div>


  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/table.png">
      <h3>Mesas</h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar mesas para la cantidad de personas que quieras y con diseños que siempre
      estarán adaptados para tus espacios, dándole un toque único a tu hogar.</p>
  </div>
</div>
<div class="row container">

  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/bureau.png">
      <h3>Gabinetes </h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar gabinetes de todo tipo, para tus baños, cocinas y demás espacios en tu
      hogar, organizando los espacios y haciéndolos más agradables. <p>
  </div>


  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/chair.png">
      <h3>Sillas</h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar una gran variedad de sillas acordes a tu personalidad y al estilo de tu
      hogar, pensadas en los más chicos y los más grandes.</p>
  </div>


  <div class="col text-center">
    <header>
      <img src="https://img.icons8.com/color/100/000000/sofa.png">
      <h3>Sofás </h3>
    </header>
    <p>En MADEMAKER&reg; puedes encontrar sofás para todo tipo de hogares, haciendo que el espacio no sea un problema
      y pensados para grandes y pequeñas familias.</p>
  </div>

</div>



  