<div class="jumbotron mt-4">
  <h1 class="display-4">MADEMAKER</h1>
  <img class="rounded-circle mx-auto d-block logo m-4" src="/img/LogoM.PNG" alt="Logo">
  <a class="btn btn-primary btn-lg" href="https://github.com/Brayan10j/MadeMaker" role="button">Github</a>
</div>
