<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Planes</h1>
  <p class="lead">Podras escojer alguno de los siguientes planes</p>
</div>

<div class="container-fluid">
  <div class="card-deck mb-3 ">
    <div class="card mb-4 shadow-sm">
      <div class="card-header text-center">
        <h4 class="my-0 font-weight-normal">Diseño</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title text-center "> $ {{dis}}</h1>

        <ul class="list-group mt-3 mb-4">
          <li class="list-group-item">Modelo del mueble</li>
          <li class="list-group-item">Despiece del mueble en ecxel</li>
          <li class="list-group-item">Manual de instalacion</li>
        </ul>

      </div>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">Escojer</button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
            <a class="dropdown-item" href="https://recarga.nequi.com.co/bdigitalpsl/#!/">Bancos por Nequi</a>
            <a class="dropdown-item" href="#">Bitcoin</a>
            <a class="dropdown-item" href="#">Tarjeta de Credito</a>
            <a class="dropdown-item" href="#">Otro</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Fabricacion</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title text-center">$ {{precio.fabricacion}}<small class="text-muted"></small>
        </h1>
        <ul class="list-group mt-3 mb-4">

          <li class="list-group-item">Manual de instalacion</li>
          <li class="list-group-item">Mueble completamente fabricado</li>
        </ul>

      </div>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">Escojer</button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
            <a class="dropdown-item" href="https://recarga.nequi.com.co/bdigitalpsl/#!/">Bancos por Nequi</a>
            <a class="dropdown-item" href="#">Bitcoin</a>
            <a class="dropdown-item" href="#">Tarjeta de Credito</a>
            <a class="dropdown-item" href="#">Otro</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Envio</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title text-center">$ {{precio.envio}} <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">

          <li class="list-group-item">Manual de instalacion</li>
          <li class="list-group-item">Mueble completamente fabricado</li>
          <li class="list-group-item">Envio a domicilio</li>
        </ul>

      </div>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">Escojer</button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
            <a class="dropdown-item" href="https://recarga.nequi.com.co/bdigitalpsl/#!/">Bancos por Nequi</a>
            <a class="dropdown-item" href="#">Bitcoin</a>
            <a class="dropdown-item" href="#">Tarjeta de Credito</a>
            <a class="dropdown-item" href="#">Otro</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Instalacion</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title text-center">$ {{precio.instalacion}} <small
            class="text-muted"></small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">

          <li class="list-group-item">Manual de instalacion</li>
          <li class="list-group-item">Mueble completamente fabricado</li>
          <li class="list-group-item">Envio a domicilio</li>
          <li class="list-group-item">Instalacion del mueble</li>
        </ul>

        
      </div>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">Escojer</button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
            <a class="dropdown-item" href="https://recarga.nequi.com.co/bdigitalpsl/#!/">Bancos por Nequi</a>
            <a class="dropdown-item" href="#">Bitcoin</a>
            <a class="dropdown-item" href="#">Tarjeta de Credito</a>
            <a class="dropdown-item" href="#">Otro</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="alert alert-dismissible alert-primary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Nota!</h4>
    <p class="mb-0">Recuerda envias la mitad del pago y la otra mitad cuando te entreguemos.</p>
  </div>
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Nota!</h4>
    <p class="mb-0">En el momento la pasarela de pago se encuentra en mantenimiento para realizar tu pago puedes hacerlo
      atraves de recargas nequi utilizando el boton "Escojer" y enviando dinero a el siguiente numero <b> 3222195416</b>
      si deseas otro medio puedes comunicarte a traves de un mensaje a el mismo numero.</p>
  </div>

</div>
</div>

