<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Planes</h1>
  <p class="lead">Podras escojer alguno de los siguientes planes</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Diseño</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"> $ {{project.precio.diseño}}</h1>
       
        <ul class="list-unstyled mt-3 mb-4">
          <li>Modelo del mueble</li>
          <li>Despiece del mueble en ecxel</li>
          <li>Manual de instalacion</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Escojer</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Fabricacion</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$ {{project.precio.fabricacion}}<small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Modelo del mueble</li>
          <li>Despiece del mueble en ecxel</li>
          <li>Manual de instalacion</li>
          <li>Mueble completamente fabricado</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Escojer</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Envio</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$ {{project.precio.envio}} <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Modelo del mueble</li>
          <li>Despiece del mueble en ecxel</li>
          <li>Manual de instalacion</li>
          <li>Mueble completamente fabricado</li>
          <li>Envio a domicilio</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Escojer</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Instalacion</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$ {{project.precio.instalacion}} <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Modelo del mueble</li>
          <li>Despiece del mueble en ecxel</li>
          <li>Manual de instalacion</li>
          <li>Mueble completamente fabricado</li>
          <li>Envio a domicilio</li>
          <li>Instalacion del mueble</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Escojer</button>
      </div>
    </div>
  </div>

  
</div>
</div>
