<section class="card">
  <div class="card-body">
    <h1>Realiza un projecto</h1>
    <p>
     habilitamos la siguiente herramienta la cual es el tipico paint , puedes 
     crear tu diseño desde esta herramienta o utilizar cualquier otra desde tu 
     dispositivo.

     Una vez hecho, descarga el diseño (File-> Save As) 
    </p>
     <center><iframe src="https://jspaint.app" width="90%" height="500"></iframe></center>

     <button type="button" onclick="window.location.href = 'https://api.whatsapp.com/send?phone=573222195416&text=Estoy%20interesado%20las%20medidas%20de%20mi%20proyecto%20son%20{{project.ancho}}cm%20ancho%20{{project.alto}}cm%20alto%20y%20{{project.fondo}}cm%20de%20fondo';" class="btn btn-lg btn-block btn-primary">Whatsapp</button>
  </div>
  
</section>


