<!-- Footer -->
<footer class="page-footer font-small text-white bg-dark pt-4 container-fluid">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5>MADEMAKER</h5>
                <p>Somos una empresa dedicada a la fabricación y ensamble de material mobiliario en diversos tipos de
                    madera,
                    nuestros servicios van desde el contacto con el cliente para la realización de sus ideas, hasta el
                    diseño,
                    ensamblaje y posterior instalación del mueble, siempre trabajando con calidad y profesionalismo,
                    para llevar
                    a
                    nuestros clientes los mejores productos. </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Enlaces de interes</h5>

                <ul class="list-unstyled">
                    <li><a href="/users/signup" class="text-info">Regístrate.</a></li>
                    <li><a href="/users/signin" class="text-info">Inicia sesión.</a></li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Redes sociales</h5>

                <ul class="list-unstyled">
                    <li><i class="fab fa-facebook"></i><a href="https://www.facebook.com/MadeMakerMM/" class="text-info" > @MadeMakerMM</a>&nbsp;</li>
                    <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/mademakermm/" class="text-info"> mademakermm</li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mademaker.herokuapp.com/" class="text-white"> MadeMaker.com</a>
    </div>
    <!-- Copyright -->

</footer>